.bg-blue {
    background-color: #337ab7;
}

.bg-green {
    background-color: #337ab7;
}

.bg-orange {
    background-color: #337ab7;
}

.bg-red {
    background-color: #337ab7;
}

.breadcrumb {
    background-color: #337ab7;
}

.navbar-default .navbar-nav > li > a {
    color: #337ab7;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-color: #337ab7;
}

.slide .Maintitle a {
    color: #337ab7;
}

    .slide .Maintitle a:hover {
        background-color: #337ab7;
    }

.slide .Header {
    background-color: #337ab7;
}

.slide ul {
    color: #337ab7;
}

    .slide ul li {
        color: #337ab7;
    }

.navbar-fixed-bottom {
    background-color: #337ab7 !important;
}

.bg-blue {
    background-color: #00c0ef;
    background-color: #337ab7;
}

.bg-green {
    background-color: #00a65a;
    background-color: #337ab7;
}

.bg-orange {
    background-color: #f39c12;
    background-color: #337ab7;
}

.bg-red {
    background-color: #d9534f;
    background-color: #337ab7;
}

.slide ul li:hover {
    background-color: #67b1f5;
}

.LANG span {
    color: #337ab7;
}

.glyphicon-align-justify {
    color: #337ab7;
}

.active {
    background-color: #67b1f5;
}

table thead {
    background-color: #337ab7;
}

button.dt-button, div.dt-button, a.dt-button {
    /*background-color: #337ab7 !important;*/
}

div.dt-button-collection {
    background-color: #2b5479 !important;
}

    div.dt-button-collection button.dt-button:active:not(.disabled),
    div.dt-button-collection button.dt-button.active:not(.disabled),
    div.dt-button-collection div.dt-button:active:not(.disabled),
    div.dt-button-collection div.dt-button.active:not(.disabled),
    div.dt-button-collection a.dt-button:active:not(.disabled),
    div.dt-button-collection a.dt-button.active:not(.disabled) {
        background-color: #337ab7 !important;
    }
